<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hansy.tyly.admin.mapper.sys.SysRoleMapper">
    <select id="queryRoles" resultType="com.hansy.tyly.admin.dao.model.SysRole">
        select DISTINCT * from sys_role
         where STATUS=#{status}
            <if test="roleName != null and roleName != ''">
                AND role_name = #{roleName}
            </if>

    </select>
    <select id="queryRoleHasMenuId" resultType="java.lang.String">
        select DISTINCT MENU_ID from sys_r_role_menu where ROLE_ID=#{roleId} and `STATUS`=#{status}
    </select>
</mapper>