<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hansy.tyly.common.orders.dao.mapper.TPubFilesMapper">
  <resultMap id="BaseResultMap" type="com.hansy.tyly.common.orders.dao.model.TPubFiles">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="file_no" jdbcType="VARCHAR" property="fileNo" />
    <result column="cust_no" jdbcType="VARCHAR" property="custNo" />
    <result column="file_path" jdbcType="VARCHAR" property="filePath" />
    <result column="file_name" jdbcType="VARCHAR" property="fileName" />
    <result column="file_type" jdbcType="VARCHAR" property="fileType" />
    <result column="file_status" jdbcType="VARCHAR" property="fileStatus" />
    <result column="upload_date" jdbcType="TIMESTAMP" property="uploadDate" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    file_no, cust_no, file_path, file_name, file_type, file_status, upload_date, update_date
  </sql>
</mapper>