<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hansy.tyly.customer.custmgr.mapper.TBusiCustProdMapper">
	<resultMap id="BaseResultMap"
		type="com.hansy.tyly.customer.custmgr.model.TBusiCustProd">
		<!-- WARNING - @mbg.generated -->
		<id column="SYS_UUID" jdbcType="VARCHAR" property="sysUuid" />
		<result column="CUST_ID" jdbcType="VARCHAR" property="custId" />
		<result column="PROD_ID" jdbcType="VARCHAR" property="prodId" />
		<result column="FRE_TYPE" jdbcType="VARCHAR" property="freType" />
		<result column="FRE_NUM" jdbcType="INTEGER" property="freNum" />
		<result column="STATUS" jdbcType="VARCHAR" property="status" />
		<result column="INSERT_TIME" jdbcType="DATE" property="insertTime" />
		<result column="INSERT_USER_ID" jdbcType="VARCHAR" property="insertUserId" />
		<result column="UPDATE_TIME" jdbcType="DATE" property="updateTime" />
	</resultMap>
	<sql id="Base_Column_List">
		<!-- WARNING - @mbg.generated -->
		SYS_UUID, CUST_ID, PROD_ID, FRE_TYPE, FRE_NUM, `STATUS`, INSERT_TIME,
		INSERT_USER_ID,
		UPDATE_TIME
	</sql>
</mapper>