<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hansy.tyly.dealers.goods.dao.mapper.TGoodsTypeMapper">
  <resultMap id="BaseResultMap" type="com.hansy.tyly.dealers.goods.dao.model.TGoodsType">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="type_no" jdbcType="VARCHAR" property="typeNo" />
    <result column="type_name" jdbcType="VARCHAR" property="typeName" />
    <result column="type_desc" jdbcType="VARCHAR" property="typeDesc" />
    <result column="type_status" jdbcType="VARCHAR" property="typeStatus" />
    <result column="insert_date" jdbcType="TIMESTAMP" property="insertDate" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    goodsType.type_no as type_no, goodsType.type_name as type_name, 
    goodsType.type_desc as type_desc, goodsType.type_status as type_status, 
    goodsType.insert_date as insert_date, goodsType.update_date as update_date
  </sql>


  <select id="selectByParams" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List"/>
    from t_goods_type goodsType
    left join t_goods_base_info goodsInfo  on goodsInfo.type_no=goodsType.type_no and goodsInfo.goods_status=10022009
    <if test="goodsAscription == 'dis'">
      and goodsInfo.goods_ascription=10022006
      left join t_goods_distributor goodsDis on goodsDis.goods_no=goodsInfo.goods_no
          and goodsDis.on_status=1

    </if>


    <where>
      <if test="typeName!=null">
        and goodsType.type_name like CONCAT('%',#{typeName},'%')
      </if>
      <if test="typeStatus!=null">
        and goodsType.type_status=#{typeStatus}
      </if>
      <if test="disNo != null and goodsAscription == 'dis' ">
          and goodsDis.distributor_no=#{disNo}
      </if>
      <if test="goodsAscription == 'platform' ">
        and goodsInfo.goods_ascription=10022007 and goodsInfo.on_status=10022011
      </if>
      <if test="notMerNo != null ">
        and 	goodsInfo.goods_no not in (
                select dMer.goods_no
                from t_goods_distributor_mer dMer
                where dMer.mer_no =#{notMerNo}
                and dMer.on_status= '10022011')
      </if>


    </where>

    group by goodsType.type_no

  </select>
</mapper>