<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hansy.tyly.merchants.goods.dao.mapper.TGoodsDistributorMerMapper">
  <resultMap id="BaseResultMap" type="com.hansy.tyly.merchants.goods.dao.model.TGoodsDistributorMer">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="table_key" jdbcType="INTEGER" property="tableKey" />
    <result column="goods_no" jdbcType="VARCHAR" property="goodsNo" />
    <result column="distributor_no" jdbcType="VARCHAR" property="distributorNo" />
    <result column="mer_no" jdbcType="VARCHAR" property="merNo" />
    <result column="goods_amt" jdbcType="DECIMAL" property="goodsAmt" />
    <result column="on_date" jdbcType="TIMESTAMP" property="onDate" />
    <result column="down_date" jdbcType="TIMESTAMP" property="downDate" />
    <result column="on_status" jdbcType="VARCHAR" property="onStatus" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    disMer.table_key as table_key, disMer.goods_no as goods_no, disMer.distributor_no as distributor_no, 
    disMer.mer_no as mer_no, disMer.goods_amt as goods_amt, disMer.on_date as on_date, 
    disMer.down_date as down_date, disMer.on_status as on_status, disMer.create_date as create_date
  </sql>

  <select id="selectDisByMer" resultType="java.util.Map">
    SELECT
	dis.distributor_no disNo,dis.distributor_name disName
  FROM
	t_pub_distributor_mer disMer LEFT  join t_pub_distributor_info dis
		ON dis.distributor_no = disMer.distributor_no
  where
    disMer.mer_no = #{merNo}



  </select>



</mapper>