<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hansy.tyly.customer.system.mapper.IndexMapper">
	<!-- 查询特定机构或者特定机构特定客户经理名下当前总体正常管理状态下的客户汇总数据 -->
	<select id="queryCustMngGeneralData" parameterType="java.util.Map"
		resultType="java.util.Map">
		SELECT
		COUNT(L2.CUST_ID) TOTAL_NUM,
		COUNT(
		CASE
		WHEN L2.MNG_STATUS = '10014001' THEN
		1
		END
		) AS HAS_MNGED_NUM,
		COUNT(
		CASE
		WHEN L2.MNG_STATUS = '10014002' THEN
		1
		END
		) AS NOT_MNGED_NUM,
		COUNT(
		CASE
		WHEN L2.DCS_RST IS NOT NULL THEN
		1
		END
		) AS RISK_NUM
		FROM
		(SELECT
		T1.CUST_ID,T1.MNG_STATUS,T1.STATUS,L1.DCS_RST,T1.USER_ID,T1.ORG_ID
		FROM
		T_BUSI_CUST T1
		LEFT JOIN (
		SELECT DISTINCT
		(T3.CUST_ID) AS CUST_ID, T3.DCS_RST
		FROM
		T_BUSI_BILL_HIS T3,
		(SELECT
		T2.CUST_ID,T2.PROD_ID,
		MAX(T2.BUSI_DATE) AS BUSI_DATE
		FROM
		T_BUSI_BILL_HIS T2
		WHERE
		T2.ORG_ID = #{orgId}
		GROUP BY
		T2.CUST_ID,
		T2.PROD_ID
		) T4
		WHERE
		T3.CUST_ID = T4.CUST_ID
		AND T3.PROD_ID = T4.PROD_ID
		AND T3.BUSI_DATE = T4.BUSI_DATE
		AND T3.DCS_RST = #{dcsRst}
		) L1 ON T1.CUST_ID = L1.CUST_ID
		) L2
		WHERE
		L2.STATUS='00001001' AND L2.ORG_ID = #{orgId}
		<if test="userId !=null and userId !=''">
			AND L2.USER_ID = #{userId}
		</if>
	</select>

	<!-- 查询过去一周内客户管理及更新数据记录列表 -->
	<select id="queryLastWeekMngData" parameterType="java.util.Map"
		resultType="java.util.Map">
		SELECT L1.* FROM (
		SELECT
		T1.BUSI_DATE,
		SUM(T1.MNG_CNT) AS MNG_CNT,SUM(T1.RISK_CNT) AS RISK_CNT,SUM(T1.WARN_CNT) AS WARN_CNT
		FROM
		T_RPT_CUST_RISK T1
		WHERE
		T1.ORG_ID = #{orgId}
		<if test="userId !=null and userId !=''">
			AND T1.USER_ID = #{userId}
		</if>
		GROUP BY
		T1.BUSI_DATE ORDER BY T1.BUSI_DATE DESC LIMIT 7) L1 ORDER BY L1.BUSI_DATE ASC
	</select>

	<!-- 获取当前最新风险概况统计情况 -->
	<select id="queryRiskGeneralData_Back" parameterType="java.util.Map"
		resultType="java.util.Map">
		SELECT COUNT(L4.CUST_ID) AS HAS_MNGED_NUM,SUM(L4.RST_01) AS
		RST_RSIK_NUM,SUM(L4.RST_02) AS RISK_NOTICE_NUM FROM (
		SELECT
		L2.CUST_ID,L3.RST_01,L3.RST_02
		FROM
		(
		SELECT
		L1.CUST_ID
		FROM
		T_BUSI_CUST L1
		WHERE
		L1.MNG_STATUS = '10014001'
		AND L1.ORG_ID = '5101'
		) L2
		LEFT JOIN (
		SELECT
		T5.CUST_ID,
		COUNT(
		CASE
		WHEN T5.DCS_RST = '10017001' THEN
		1 ELSE 0
		END
		) AS RST_01,
		COUNT(
		CASE
		WHEN T5.DCS_RST = '10017002' THEN
		1 ELSE 0
		END
		) AS RST_02
		FROM
		(
		SELECT
		T4.CUST_ID,
		T4.DCS_RST
		FROM
		(
		SELECT
		T2.CUST_ID,
		T2.PROD_ID,
		T2.BUSI_DATE,
		T2.DCS_RST
		FROM
		T_BUSI_BILL_HIS T2,
		(
		SELECT
		T1.CUST_ID,
		T1.PROD_ID,
		MAX(T1.BUSI_DATE) AS BUSI_DATE
		FROM
		T_BUSI_BILL_HIS T1
		GROUP BY
		T1.CUST_ID,
		T1.PROD_ID
		) T3
		WHERE
		T2.CUST_ID = T3.CUST_ID
		AND T2.PROD_ID = T3.PROD_ID
		AND T2.BUSI_DATE = T3.BUSI_DATE
		) T4
		GROUP BY
		T4.CUST_ID,
		T4.DCS_RST
		) T5
		GROUP BY
		T5.CUST_ID
		) L3 ON L2.CUST_ID = L3.CUST_ID) L4
	</select>

	<!-- 获取当前最新风险概况统计情况 -->
	<select id="queryRiskGeneralData" parameterType="java.util.Map"
		resultType="java.util.Map">
		SELECT
		T1.BUSI_DATE,
		SUM(T1.MNG_CNT) AS MNG_CNT,SUM(T1.RISK_CNT) AS RISK_CNT,SUM(T1.WARN_CNT) AS WARN_CNT
		FROM
		T_RPT_CUST_RISK T1
		WHERE
		T1.ORG_ID = #{orgId}
		<if test="userId !=null and userId !=''">
			AND T1.USER_ID = #{userId}
		</if>
		GROUP BY
		T1.BUSI_DATE ORDER BY T1.BUSI_DATE DESC LIMIT 1
	</select>
	<!-- 获取历史预警趋势统计情况 -->
	<select id="queryWarnTrendsData" parameterType="java.util.Map"
		resultType="java.util.Map">
		SELECT L1.* FROM (
		SELECT
		T1.BUSI_DATE,
		SUM(T1.MNG_CNT) AS MNG_CNT,SUM(T1.RISK_CNT) AS RISK_CNT,SUM(T1.WARN_CNT) AS WARN_CNT
		FROM
		T_RPT_CUST_RISK T1
		WHERE
		T1.ORG_ID = #{orgId}
		<if test="userId !=null and userId !=''">
			AND T1.USER_ID = #{userId}
		</if>
		GROUP BY
		T1.BUSI_DATE ORDER BY T1.BUSI_DATE DESC LIMIT 7) L1 ORDER BY L1.BUSI_DATE ASC
	</select>
</mapper>