<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hansy.tyly.admin.dao.mapper.SysUserMapper">
  <resultMap id="BaseResultMap" type="com.hansy.tyly.admin.dao.model.SysUser">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="USER_ID" jdbcType="VARCHAR" property="userId" />
    <result column="LOGIN_ID" jdbcType="VARCHAR" property="loginId" />
    <result column="USER_NAME" jdbcType="VARCHAR" property="userName" />
    <result column="USER_PWD" jdbcType="VARCHAR" property="userPwd" />
    <result column="USER_TYPE" jdbcType="VARCHAR" property="userType" />
    <result column="USER_TEL" jdbcType="VARCHAR" property="userTel" />
    <result column="USER_DEPT" jdbcType="VARCHAR" property="userDept" />
    <result column="STATUS" jdbcType="VARCHAR" property="status" />
    <result column="INSERT_TIME" jdbcType="DATE" property="insertTime" />
    <result column="INSERT_USER_ID" jdbcType="VARCHAR" property="insertUserId" />
    <result column="UPDATE_TIME" jdbcType="DATE" property="updateTime" />
    <result column="SEX" jdbcType="VARCHAR" property="sex" />
    <result column="ENTRY_TIME" jdbcType="DATE" property="entryTime" />
    <result column="USER_ID_CARD" jdbcType="VARCHAR" property="userIdCard" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    USER_ID, LOGIN_ID, USER_NAME, USER_PWD, USER_TYPE, USER_TEL, USER_DEPT, `STATUS`, 
    INSERT_TIME, INSERT_USER_ID, UPDATE_TIME, SEX,ENTRY_TIME,USER_ID_CARD
  </sql>
    <sql id="info_search_where">
        <if test="saleName != null">
            AND (u.USER_NAME LIKE CONCAT('%','${saleName}','%' ))
        </if>
        <if test="startTime != null">
            AND (u.INSERT_TIME >= #{startTime})
        </if>
        <if test="endTime != null">
            <![CDATA[
            AND (u.INSERT_TIME <= #{endTime})
            ]]>
        </if>
    </sql>
    <select id="listByRoles" resultType="com.hansy.tyly.admin.dao.model.SysUser">
      SELECT u.* FROM sys_user AS u
      INNER JOIN sys_r_user_role AS ur ON ur.USER_ID = u.USER_ID AND u.STATUS = "00001001"
      INNER JOIN sys_role AS r ON ur.ROLE_ID = r.ROLE_ID AND r.ROLE_ID IN
        <foreach collection="roleIds" index="index" item="roleId" open="(" separator="," close=")">
            #{roleId}
        </foreach>
      <include refid="info_search_where"></include>
    </select>
    <select id="selectOrgIdByLoginId" resultType="java.lang.String">
      SELECT uo.ORG_ID
      FROM sys_user u
      INNER JOIN sys_r_user_org uo ON uo.USER_ID = u.USER_ID AND uo.`STATUS` = '00001001'
      WHERE u.LOGIN_ID = #{loginId} AND u.STATUS = "00001001"
    </select>
    <select id="listByRolesAndOrgId" resultType="com.hansy.tyly.admin.dao.model.SysUser">
        SELECT DISTINCT u.* FROM sys_user AS u
        INNER JOIN sys_r_user_role AS ur ON ur.USER_ID = u.USER_ID AND u.STATUS = "00001001"
        INNER JOIN sys_role AS r ON ur.ROLE_ID = r.ROLE_ID AND r.ROLE_ID IN
        <foreach collection="roleIds" index="index" item="roleId" open="(" separator="," close=")">
            #{roleId}
        </foreach>
        INNER JOIN sys_r_user_org uo ON uo.USER_ID = u.USER_ID AND uo.ORG_ID IN
        <foreach collection="orgIds" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
        <include refid="info_search_where"></include>
    </select>
    <select id="selectByLoginId" resultType="com.hansy.tyly.admin.dao.model.SysUser">
        SELECT * FROM sys_user WHERE LOGIN_ID = #{loginId} AND STATUS = "00001001"
    </select>
</mapper>