<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hansy.tyly.admin.dao.mapper.TBusOrderDetailMapper">
  <resultMap id="BaseResultMap" type="com.hansy.tyly.admin.dao.model.TBusOrderDetail">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="table_key" jdbcType="VARCHAR" property="tableKey" />
    <result column="order_no" jdbcType="VARCHAR" property="orderNo" />
    <result column="goods_no" jdbcType="VARCHAR" property="goodsNo" />
    <result column="goods_num" jdbcType="INTEGER" property="goodsNum" />
    <result column="trans_date" jdbcType="TIMESTAMP" property="transDate" />
    <result column="goods_amt" jdbcType="DECIMAL" property="goodsAmt" />
  </resultMap>

  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    bod.table_key, bod.order_no, bod.goods_no, bod.goods_num, bod.trans_date, bod.goods_amt
  </sql>

</mapper>