<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hansy.tyly.customer.billMgr.mapper.TBusiBillMapper">
	<resultMap id="BaseResultMap"
		type="com.hansy.tyly.customer.billMgr.model.TBusiBill">
		<id column="BILL_ID" jdbcType="VARCHAR" property="billId" />
		<result column="ORG_ID" jdbcType="VARCHAR" property="orgId" />
		<result column="CUST_ID" jdbcType="VARCHAR" property="custId" />
		<result column="PROD_ID" jdbcType="VARCHAR" property="prodId" />
		<result column="BILL_TYPE" jdbcType="VARCHAR" property="billType" />
		<result column="BUSI_DATE" jdbcType="VARCHAR" property="busiDate" />
		<result column="DCS_RST" jdbcType="VARCHAR" property="dcsRst" />
		<result column="DC_TYPE" jdbcType="VARCHAR" property="dcType" />
		<result column="BILL_AMT" jdbcType="DECIMAL" property="billAmt" />
		<result column="STATUS" jdbcType="VARCHAR" property="status" />
		<result column="INSERT_TIME" jdbcType="TIMESTAMP" property="insertTime" />
		<result column="INSERT_USER_ID" jdbcType="VARCHAR" property="insertUserId" />
		<result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
	</resultMap>
	<sql id="Base_Column_List">
		BILL_ID, ORG_ID, CUST_ID, PROD_ID, BILL_TYPE, BUSI_DATE, DCS_RST, DC_TYPE,
		BILL_AMT,
		`STATUS`, INSERT_TIME, INSERT_USER_ID, UPDATE_TIME
	</sql>
	<select id="queryCostAmt" resultType="com.hansy.tyly.customer.billMgr.model.TBusiBill"
		parameterType="java.util.Map">
		SELECT
		T1.ORG_ID,SUM(T1.BILL_AMT) AS BILL_AMT
		FROM
		T_BUSI_BILL T1
		WHERE
		T1.BILL_TYPE = '10009003' AND T1.ORG_ID = #{orgId}
		AND T1.INSERT_TIME &gt;=
		#{beginTime} AND T1.INSERT_TIME &lt;= #{endTime}
	</select>
	<select id="queryBillList" resultType="java.util.Map"
		parameterType="java.util.Map">
		SELECT
		L1.*, T4.USER_NAME,T2.CUST_NAME,T3.PROD_NAME
		FROM
		(SELECT
		T1.INSERT_TIME,T1.BILL_TYPE,T1.DC_TYPE,FORMAT(T1.BILL_AMT,2) AS BILL_AMT,T1.DCS_RST,T1.CUST_ID,T1.PROD_ID
		FROM
		T_BUSI_BILL AS T1
		WHERE
		T1.ORG_ID = #{orgId}
		AND T1.INSERT_TIME &gt;= #{beginTime} AND T1.INSERT_TIME &lt;= #{endTime}
		) AS L1
		LEFT JOIN T_BUSI_CUST AS T2 ON L1.CUST_ID = T2.CUST_ID
		LEFT JOIN
		T_BUSI_PROD AS T3 ON L1.PROD_ID = T3.PROD_ID
		LEFT JOIN SYS_USER AS T4
		ON T2.USER_ID = T4.USER_ID
		ORDER BY
		L1.INSERT_TIME DESC
	</select>
</mapper>